<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.nicknackhacks.dailyburn" android:versionCode="7"
	android:versionName="0.5.7 Alpha">
	<!--android:installLocation="auto">-->
	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:name="BurnBot">
		<!--<provider android:label="Body Metrics"
			android:name=".api.BodyProvider"
			android:authorities="com.nicknackhacks.dailyburn.api.BodyProvider" />-->
		<activity android:name=".activity.MainActivity" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="dailyburndroid" android:host="com.nicknackhacks.dailyburndroid" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	<activity android:name=".activity.FoodSearchActivity" android:label="@string/app_name"/>
	<activity android:name=".activity.UserActivity" android:label="@string/app_name"/>
	<activity android:name=".activity.DietGoalsActivity" android:label="@string/app_name"/>
	<activity android:name=".activity.BodyMetricsListActivity" android:label="@string/app_name"/>
	<activity android:name=".activity.BodyEntryListActivity" android:label="@string/app_name"/>
	<activity android:name=".activity.FoodDetailActivity" android:label="@string/app_name">
		<intent-filter>
			<action android:name="com.nicknackhacks.dailyburn.FOOD_DETAIL"/>
			<category android:name="android.intent.category.DEFAULT"/>
		</intent-filter>
	</activity>
	<activity android:name=".activity.FoodListActivity" android:label="@string/app_name">
		<intent-filter>
			<action android:name="com.nicknackhacks.dailyburn.SEARCH_FOOD"/>
			<category android:name="android.intent.category.DEFAULT"/>
		</intent-filter>
		<intent-filter>
			<action android:name="com.nicknackhacks.dailyburn.LIST_FAVORITE_FOODS"/>
			<category android:name="android.intent.category.DEFAULT"/>
		</intent-filter>
	</activity>
<activity android:name=".activity.FoodLogEntriesActivity" android:label="@string/app_name">
	<intent-filter>
		<action android:name="com.nicknackhacks.dailyburn.LIST_FOOD_LOGS"/>
		<category android:name="android.intent.category.DEFAULT"/>
	</intent-filter>
</activity>
<activity android:name=".activity.FoodLogDetailActivity" android:label="@string/app_name">
	<intent-filter>
		<action android:name="com.nicknackhacks.dailyburn.FOOD_LOG_DETAIL"/>
		<category android:name="android.intent.category.DEFAULT"/>
	</intent-filter>
</activity>
</application>
	<uses-sdk android:minSdkVersion="4" android:targetSdkVersion="4"/>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
<!--	<uses-library android:name="xstream-1.4-SNAPSHOT"/>-->
<!--	<uses-library android:name="signpost-core-1.1"/>-->
<!--	<uses-library android:name="signpost-commonshttp4-1.1"/>-->
</manifest> 


